<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <div class="row col-sm-12">
    <a class="navbar-brand col-sm-1 logo" routerLink="/" routerLinkActive="active">
      <h4>E-pharmacy</h4>
    </a>
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-9">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link nav-menu" href="/">Home <span class="sr-only border border-success"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-menu" href="/user">User <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-1">
      <form class="form-inline">
        <button class="btn btn-outline-danger" type="submit">LogOut</button>
      </form>
    </div>
  </div>
</nav>
<!-- navigation ends -->

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- footer starts -->
<!-- <div class="footer">
  <p class="sr-only footer-text">created by BlackViper</p>
</div> -->
